body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.submenu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.form-control {
  border: 1px solid #dcdbdb;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: #FFD6D6 none repeat scroll 0 0;
    color: #999;
    cursor: default;
    border-radius: 50%;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  border-radius: 50%;
}


.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #ccc; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 2px 2px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 2px 2px rgba(50, 50, 50, 0.64); box-shadow: 1px 2px 2px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 5px 6px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 5px 6px;}
.autocomplete-selected { background: #d8f8fe; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 5px 6px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
.autocomplete-suggestion { 
    cursor: pointer;
    font-size: 16px;
}
.loader {
    display:none;
}

